[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Robby Stokoe
	email = robert.stokoe@revzilla.com
[push]
	default = matching
[core]
	editor = vim
    autocrlf = input
	pager = less -FRX
[alias]
	lola = log --oneline --graph --decorate --all
	lol = log --oneline --graph --decorate
