[user]
	name = Robby Stokoe
	email = robbystk@gmail.com
[push]
	default = matching
[core]
	editor = vim
    autocrlf = input
[alias]
	lola = log --oneline --graph --decorate --all
	lol = log --oneline --graph --decorate
